.wrapper {
  display: grid;
  gap: 1em;
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin: 0 auto;
  background: rgb(132, 130, 143);
  background: radial-gradient(
    circle,
    rgba(132, 130, 143, 1) 30%,
    rgba(106, 104, 120, 1) 100%
  );
  color: white;
  font-size: 0.9em;

}
