/* WRAPPER */

.grid {
  display: flex;
  align-items: center;
  padding: 0.5em 1.5em 0.5em 1.5em;
  background: rgb(59, 58, 65);
  color: whitesmoke;
  height: 75px;
 
}
/* TITLE */

.logo{
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 10px;
}

/* LINKS */

.grid nav{
  display: flex;
  gap: 2em;
  margin-left: 20%;
}

.grid nav a{
  padding: 0.75em 1em 0.75em 1em;
  border-radius: 3px;
 
}

/* HAMBURGER MENU */

.menu-hidden {
  visibility: hidden;
}

.menu-visible {
  visibility: visible;
}

.icon{
  margin-left: auto;
}

.icon:hover{
  cursor: pointer;
}

/*MEDIA QUERIES*/

/* Smartphones */
@media (min-width: 0px) and (max-width: 575px) {
  .grid nav {
    display: none;
  }
}

/* Tablets */
@media (min-width: 576px) and (max-width: 991px) {
  .grid {
    font-size: 1.3em;
  }
  .icon{
    display: none;
  }
}

/* Laptops and Desktops */
@media (min-width: 992px) {
  .grid {
    font-size: 1.3em;
  }
  .icon{
    display: none;
  }

}

